---
layout: default
---


<SCRIPT SRC="jsMath/easy/load.js"></SCRIPT>

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>

<DIV CLASS="math">
\int^1_\kappa
\left[\bigl(1-w^2\bigr)\bigl(\kappa^2-w^2\bigr)\right]^{-1/2} dw
= \frac{4}{\left(1+\sqrt{\kappa}\,\right)^2} K
\left(\left(\frac{1-\sqrt{\kappa}}{1+\sqrt{\kappa}}\right)^{\!\!2}\right)
</DIV>


  {{ content }}
</div>

<div class="related">
  <ul class="related-posts">
      <li>
        <h3>
          <a href="/">
            Zpátky
          </a>
        </h3>
      </li>
  </ul>
</div>
